li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.listItem p {
  display: flex;
}

.listItem p {
  margin: 10px;
}

button {
  background-color: transparent;
  border: 0;
}
